@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Poppins:wght@400;600&display=swap');

$cor1_header_footer : #EEEEEE;
$cor2_header_footer : #000000;
$fonte_principal : 'Megrim', 'cursive';
$fonte_subtitulo : 'Poppins', sans-serif;
$font_stroke: 'popins', sans-serif;
$cor-primaria: #DFB162;
$Cor-de-fundo2: #9CBCCC;
$Cor-de-fundo3: #D4D2E3;
$cor-texto-card: #5397C5;
$cor-titulo-card: #053944;

//Cabecalho-----------------------------------------------------------------

.Cabecalho{
  display: flex;
  height: 100px;
  align-items: center;
  background-color: $cor1_header_footer;
  color: $cor2_header_footer;
  justify-content: space-between;

  @media (min-width: 300px) and (max-width: 800px){
    width: 100vw;
    height: 5vh;
    display: space-between;
  }
}

.Links{
  display: flex;
  gap: 5%;
  margin-right: 8%;
}

.Links a {
  text-decoration: none;
  color: $cor2_header_footer;
  font-size: 15px;
  font-family: $fonte_subtitulo;
  @media (min-width: 300px) and (max-width: 800px){
    flex-direction: column;
    

  }

}

.Links a:hover {
  color: $cor-primaria;
  font-size: 15px;
  font-family: $fonte_subtitulo;
}


.Marca_logo{
  display: flex;
  align-items: center;
}

.Marca{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.HealthGuardian{
  font-size: 30px;
  font-family: $fonte_principal;
  color: $cor2_header_footer;
  @media (min-width: 300px) and (max-width: 800px){
      display: none;

  }

}



//Footer-----------------------------------------------------------------


.Footer_{
  background-color: $cor1_header_footer;
  color: $cor1_header_footer;
  display: flex;
  gap: 70%;

  @media (min-width: 300px) and (max-width: 800px){
    gap: 40%;
    width: 100vw;
    height: 20vh;
    display: space-between;
  }
}

.Titulos_footer{
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.Titulo_footer{
  font-size: 30px;
  font-family: $fonte_principal;
  color: $cor2_header_footer;
}

.Subtitulo_footer{
  font-size: 20px;
  font-family: $fonte_subtitulo;
  color: $cor2_header_footer;
}

.imagens{
  justify-content: center;
  align-items: center;
  display: flex;
  @media (min-width: 300px) and (max-width: 800px){
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
  }
}

.Copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cor1_header_footer;
  color: $cor2_header_footer;
  height: 50px;
}



//Pagina de Cadastro -----------------------------------------------------

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFB162;
    border-color: #DFB162;
    text-align: center;
  }

  .botao:hover {
    background-color: #806e0c;
    border-color: #806e0c;
    text-align: center;
  }

//-----------------------------------------------------PAGINA HEALTH GUARDIAN-----------------------------------------------------


//Parte Um----------------------------------------------------------

.ParteUm{
  display: flex;
  background-color: $cor1_header_footer;
  gap: 10%;
  height: 100vh;
  @media (min-width: 340px) and (max-width: 800px){
    flex-direction: column;
    gap: 0%;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
}

.Gif{
  height: 400px;
  width: 400px;
  margin-top: 10%;
  margin-left: 10%;
  @media (min-width: 340px) and (max-width: 800px){
    margin-left: 5%;
    margin-top: 10%;  
    height: 310px;
    width: 310px;

  }

}

.Titulo_HealthGuardian{
  font-size: 50px;
  font-family: $fonte_subtitulo;
  font-weight: 1000;
  color: $cor-titulo-card;
  margin-top: 10%;
  @media (min-width: 340px) and (max-width: 800px){
    font-size: 20px;
    margin: 5%;
  }
}

.Subtitulo_HealthGuardian{
  font-size: 30px;
  font-family: $fonte_subtitulo;
  color: $cor2_header_footer;
  margin-bottom: 10%;
  @media (min-width: 340px) and (max-width: 800px){
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5%;
  }
}

.Texto_HealthGuardian{
  font-size: 20px;
  width: 80%;
  font-family: $fonte_subtitulo;
  color: $cor2_header_footer;
  margin-bottom: 10%;
  @media (min-width: 340px) and (max-width: 800px){
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5%;
  }
}



//Health Guardian Cards--------------------------------------------------------------------------------

.Tudo{
  background-image: url('../HealthGuardian/Fundo_flores.png');
  background-size: cover;
  @media (min-width: 340px) and (max-width: 800px){
    flex-direction: column;
    height: 150vh;
  } 
}


.funcionamento{
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cor1_header_footer;
  height: 100px;
  font-size: 40px;
  font-family: $fonte_subtitulo;

  @media (min-width: 340px) and (max-width: 800px){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 15%;
  } 
}

.Cards{
  display: flex;
  border-radius:10px;
  gap: 5%;
  padding: 5%;
  @media (min-width: 340px) and (max-width: 800px){
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-between;
  } 
}

.Card{
  padding: 2%;
  background-color: $cor1_header_footer;
  border-radius: 15px;
  height: 400px;
  width: 320px;
  @media (min-width: 340px) and (max-width: 800px){
    margin-left: 9%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
  } 
}

.CardTitulo{
  font-size: 20px;
  font-family: $fonte_subtitulo;
  color: $cor-titulo-card;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardTexto{
  font-size: 15px;
  font-family: $fonte_subtitulo;
  color: $cor2_header_footer;
  margin-top: 20%;
  color: $cor2_header_footer;
  
}

//Parte Tres-----------------------------------------------------------------

.ParteTres{
  display: flex;
  background-color: $cor1_header_footer;
  @media (min-width: 340px) and (max-width: 800px){
    flex-direction: column;
    gap: 0%;
    height: 55vh;
    justify-content: center;
    align-items: center;
  } 
}

.Texto_ParteTres{
  margin-left: 5%;
  display: flex;
  font-size: 50px;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: $fonte_subtitulo;
  color: $cor-titulo-card;
  @media (min-width: 340px) and (max-width: 800px){
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 30px;
  }
}

.Mocap{
  margin-top: 5%;
  height: 700px;
  width: 700px;
  @media (min-width: 340px) and (max-width: 800px){
    height: 260px;
    width: 260px;
  }
}

//Parte Quatro-----------------------------------------------------------------

.ParteQuatro{
  display: flex;
  background-color: $Cor-de-fundo2;
  gap: 10%;
  height: 100vh;
  justify-content: center;
  @media (min-width: 340px) and (max-width: 800px){
    width: 100%;
  }
}

.Main_ParteQuatro{
  margin-top: 10%;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: $cor-titulo-card;
  border-radius: 15px;
  height: 50%;
  @media (min-width: 340px) and (max-width: 800px){
    flex-direction: column;
    height: 80%;
  }
}

.TituloParteQuatro{
  font-size: 50px;
  font-family: $fonte_subtitulo;
  color: $cor1_header_footer;
  margin-left: 5%;
  @media (min-width: 340px) and (max-width: 800px){
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
  }

}

.Topicos_ParteQuatro{
  margin-right: 2%;
  display: flex;
  color: $cor1_header_footer;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (min-width: 340px) and (max-width: 800px){
    flex-direction: column;
    margin-top: 10%;;
  }
}